[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
flake8 = "*"
gunicorn = "*"
heroku = "*"
python-dateutil = "*"
pytest-django = "*"
pytest = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"

[dev-packages]
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.9"
